<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hezae.skylineservice.mapper.FileMapper">


    <!-- //根据用户的id查询根目录所有文件-->
    <select id="selectRootDirByUser" resultType="com.hezae.skylineservice.model.File">
        SELECT * FROM files
        WHERE owner_id = #{userId}
          AND parent_folder_id = 0
    </select>
    <!-- //根据用户的id查询目录所有文件-->
    <select id="selectFileDirByUser" resultType="com.hezae.skylineservice.model.File">
        SELECT * FROM files
        WHERE owner_id = #{userId}
          AND parent_folder_id= #{parentId}
    </select>
     <!-- //根据用户的id查询目录所有文件夹，用于网盘上传文件地址选择-->
      <select id="selectFileFolderByUser" resultType="com.hezae.skylineservice.model.File">
        SELECT * FROM files
        WHERE owner_id = #{userId}
          AND parent_folder_id= #{parentId}
          AND file_type = concat('Folder')

      </select>
    <!--//查询是否有文件-->
    <select id="selectFileById" resultType="com.hezae.skylineservice.model.File">
        SELECT * FROM files
        WHERE file_id = #{fileId}
    </select>
    <select id="selectFileByUserAndFileNameAndParentFolderId" resultType="com.hezae.skylineservice.model.File">
        SELECT * FROM files
        WHERE owner_id = #{userId}
          AND file_name = concat(#{fileName})
          AND parent_folder_id = #{parentId}
    </select>

    <select id="selectFileByUser" resultType="com.hezae.skylineservice.model.File">
        SELECT * FROM files
        WHERE owner_id = #{userId}
          AND file_path=  CONCAT(#{filePath}, '%');
    </select>

    <select id="selectFileByUserAndFileNameAndFileTypeAndParentFolderId" resultType="com.hezae.skylineservice.model.File">
        SELECT * FROM files
        WHERE owner_id = #{userId}
          AND file_name = concat(#{fileName})
          AND file_type = concat(#{fileType})
          AND parent_folder_id = #{parentFolderId}
    </select>

    <!-- 插入文件记录 -->
    <insert id="addFile" parameterType="com.hezae.skylineservice.model.File">
    INSERT INTO files(
                file_path,
                file_name,
                file_type,
                file_size,
                parent_folder_id,
                download_count,
                file_status,
                upload_time,
                modification_time,
                access_permissions,
                description,
                owner_id
            ) VALUES (
                         #{filePath},
                         #{fileName},
                         #{fileType},
                         #{fileSize},
                         #{parentFolderId},
                         #{downloadCount},
                         #{fileStatus},
                         #{uploadTime},
                         #{modificationTime},
                         #{accessPermissions},
                         #{description},
                         #{ownerId}
                     )
</insert>
    <!-- 删除文件记录 -->
<delete id="deleteFileByFileId" parameterType="int">
    DELETE  FROM files
    WHERE file_id = #{fileId}
</delete>

   <!--更新文件名-->
    <update id="updateFileNameById" parameterType="com.hezae.skylineservice.model.File">
    UPDATE files
    SET file_name = #{fileName}
    WHERE file_id = #{fileId}
    </update>
    <!--更新文件路径-->
    <update id="updateFilePathById" parameterType="com.hezae.skylineservice.model.File">
        UPDATE files
        SET file_path = #{filePath}
        WHERE file_id = #{fileId}
        </update>
    <!-- 其他SQL语句... -->

    <!-- 关联映射示例（假设UserMapper有一个根据ID查询User的方法） -->
    <resultMap id="fileResultMap" type="com.hezae.skylineservice.model.File">
        <id property="id" column="id"/>
        <!-- 其他属性映射... -->
        <association property="owner" column="owner_id" javaType="com.hezae.skylineservice.model.User"
                     select="com.hezae.skylineservice.model.UserMapper.selectUserById"/>
    </resultMap>

</mapper>